<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <p>{{data.question}}</p>
  <mat-form-field appearance="fill">
    <mat-label>{{data.label}}</mat-label>
    <input matInput [(ngModel)]="data.text">
  </mat-form-field>

  <div *ngIf="data.label=='Title'">
    <mat-form-field appearance="fill">
      <mat-label>Choose a start date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>

